Repository takumin/cloudflare-workers-playground: changes, and which lefthook commands are due for each by the changed paths.
All: biome, yamlfmt, taplo-format, taplo-lint

lefthook.yml:

---
pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: biome check --write --no-errors-on-unmatched --config-path=biome.json {staged_files}
      stage_fixed: true
    yamlfmt:
      glob: "*.{yml,yaml}"
      run: yamlfmt -no_global_conf -conf yamlfmt.yml {staged_files}
      stage_fixed: true
    taplo-format:
      glob: "*.{toml}"
      run: taplo format --no-auto-config --config taplo.toml {staged_files}
      stage_fixed: true
    taplo-lint:
      glob: "*.{toml}"
      run: taplo lint --no-auto-config --config taplo.toml {staged_files}
      stage_fixed: true
pre-push:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: biome check --no-errors-on-unmatched --config-path=biome.json {push_files}
    yamlfmt:
      glob: "*.{yml,yaml}"
      run: yamlfmt -lint -no_global_conf -conf yamlfmt.yml {push_files}
    taplo-format:
      glob: "*.{toml}"
      run: taplo format --check --no-auto-config --config taplo.toml {staged_files}
    taplo-lint:
      glob: "*.{toml}"
      run: taplo lint --no-auto-config --config taplo.toml {staged_files}

build: add Renovate configuration file
  renovate.json
Due: biome

feat: add destroy command to package.json scripts
  package.json
Due: biome

ci: add CI workflow configuration file
  .github/workflows/ci.yml
Due: yamlfmt

chore: update install scripts in package.json
  package.json
Due: biome

build: add new linting tools to configuration files
  aqua.yaml
  lefthook.yml
Due: yamlfmt

style(editorconfig): update file types and indentation settings
  .editorconfig
Due: none

build: add editorconfig-checker to configuration files
  aqua.yaml
  lefthook.yml
Due: yamlfmt

chore: update yaml formatter exclusions
  yamlfmt.yml
Due: yamlfmt

build: update package manager and node version requirements
  package.json
Due: biome

chore: remove npm and yarn engine warnings from package.json
  package.json
Due: biome

build: update preinstall scripts in package.json
  package.json
Due: biome

chore(package.json): remove update script from package.json
  package.json
Due: biome

build: add package rules for pnpm in renovate config
  renovate.json
Due: biome

chore(renovate): add package rule for node group
  renovate.json
Due: biome

build(package.json): add pnpm configuration settings
  package.json
Due: biome

build: update onlyBuiltDependencies in package.json
  package.json
Due: biome

chore: update node version to 22.14.0 in configs
  aqua.yaml
  package.json
Due: biome, yamlfmt

chore(lefthook): update pre-push file handling commands
  lefthook.yml
Due: yamlfmt

chore: check renovate update
  aqua.yaml
  package.json
Due: biome, yamlfmt

chore(renovate): add versioning for node package rule
  renovate.json
Due: biome

chore: remove @cloudflare/workers-types
  .editorconfig
  biome.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
  worker-configuration.d.ts
Due: biome, yamlfmt

style(test): simplify types array in tsconfig.json
  test/tsconfig.json
Due: biome

ci: update CI workflow to disable credential persistence
  .github/workflows/ci.yml
Due: yamlfmt

chore(lefthook): update actionlint glob patterns
  lefthook.yml
Due: yamlfmt

feat(actions): add setup action for Aqua installation
  .github/actions/setup-aqua/action.yaml
  .github/workflows/ci.yml
Due: yamlfmt

ci: update cache key in setup-aqua action configuration
  .github/actions/setup-aqua/action.yaml
Due: yamlfmt

feat: add setup pnpm GitHub action for caching and installs
  .github/actions/setup-pnpm/action.yaml
  .github/workflows/ci.yml
Due: yamlfmt

Create LICENSE
  LICENSE
Due: none

chore(yamlfmt): update YAML formatter configuration options
  yamlfmt.yml
Due: yamlfmt

chore: update TypeScript target and library version
  tsconfig.json
Due: biome

feat: add self approval workflow for pull requests
  .github/workflows/self-approval.yml
Due: yamlfmt

feat: add oxc-lint package and update lint scripts
  aqua.yaml
  package.json
  src/index.ts
Due: biome, yamlfmt

chore: rename aqua.yaml to .aqua.yml and update cache key
  .aqua.yml
  .github/actions/setup-aqua/action.yaml
Due: yamlfmt

chore: rename lefthook.yml to .lefthook.yml
  .lefthook.yml
Due: yamlfmt

chore: update taplo config file paths in lefthook.yml
  .lefthook.yml
  .taplo.toml
Due: yamlfmt

chore: rename yamlfmt.yml to .yamlfmt.yml
  .lefthook.yml
  .yamlfmt.yml
Due: yamlfmt

chore: rename renovate.json to .renovaterc.json
  .renovaterc.json
Due: biome

chore: update package.json with license and npm config
  package.json
Due: biome
